.image-slides{
  position: relative;
  text-align: center;

  .prev{
    position: absolute;
    top: 50px;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color:white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }

  .next{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
}

.flat-details-wrapper{
  padding: 40px 20px;
  background-color: #f4f6f8;

  .flat-card{
    max-width: 50rem;
    margin: 0 auto;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-lg);
    padding: 2rem;
    position: relative;

    .mapbox-container{
      position: absolute;
      margin: 1rem;
      width: 300px;
      height: 300px;
      border-radius: var(--border-radius-lg);
      z-index: 10;
    }

    .info{
      margin: 1rem;
      h1{
        font-size: 2rem;
        margin: 0 0 0 var(--spacing-sm);
      }
      p{
        color: #555;
      }
      .info-grid{
        margin-top: 2rem;
        display: grid;
        gap: 1rem;
        
        .tags{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 1rem;
          margin-top: 1rem;

          strong{
            margin-right: 1rem;
          }
          .tag{
            background-color: var(--color-primary);
            color: white;
            padding: 0.5rem 1rem;
            border-radius: var(--border-radius-sm);
            font-size: 0.9rem;
          }
          .no-tag{
            color: #777;
          }
        }
      }
    }
  }
}